.bg{
 width: 100%;
 background-color: #1A1A1A;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background: #1A1A1A;
    height: 5.100rem;
    max-width: 1520px;
    margin: 0 auto;
    
    
  }
  

 
.navLinks{
  display: flex;
  gap: 40px;
  color: #fff;
  list-style: none;
}
.navLinks li{
  font-size: .900rem;
  font-style: normal;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  align-items: center;
  
}

.seta::after {
  content: '';
  display: inline-block;
  margin-left: 3px; 
  width: 0;
  height: 0;
  border-left: 3px solid transparent; 
  border-right: 3px solid transparent; 
  vertical-align: middle;
  border-top: 4px solid #fff; 
  
  
}

.btn{
  width: 9.25rem;
  height: 2.3rem;
  flex-shrink: 0;
  border: solid 1px  #00A79D;
  border-radius: 0px;
  background-color: #00A79D;
  color: #fff;
  font-family: 'Inter', sans-serif;
  
}